@page "/portfolio"
@inject IJSRuntime jsRuntime
@inject NavigationManager NavigationManager

<h3>Portfolio</h3>

Work in progress

<p>Here i will show my favorites projects from my <a href="https://github.com/kowalskiwiktor98">github</a> profile</p>

<Row Margin="Margin.IsAuto.OnY">
    <Card Margin="Margin.Is4.OnY" Style="width: 30%;">
        <CardImage Source="/boidsPreview.gif" Alt="Placeholder image">
        </CardImage>
        <CardBody>
            <CardTitle Size="5">Boids</CardTitle>
            <CardText>
                Example of bird flocking behaviour made in Unity.
            </CardText>
            <Button Color="Color.Primary" @onclick="preview_boids">See it live</Button>
            <Button Color="Color.Primary" @onclick="github_boids">Source code</Button>
        </CardBody>
    </Card>
    <Card Margin="Margin.Is4.OnY" Style="width: 30%;">
        <CardImage Source="/digit_preview.png" Alt="Placeholder image">
        </CardImage>
        <CardBody>
            <CardTitle Size="5">Digit Recognition</CardTitle>
            <CardText>
                Digit recognition using ML.NET Multiclass Classification
            </CardText>
            <Button Color="Color.Primary" @onclick="preview_digit">See it live</Button>
            <Button Color="Color.Primary" @onclick="github_digit">Source code</Button>
        </CardBody>
    </Card>
</Row>



@code {
    private async Task github_boids()
    {
        await jsRuntime.InvokeAsync<object>("open", "https://github.com/kowalskiwiktor98/boidsSource", "_blank");
    }

    private async Task preview_boids()
    {
        await jsRuntime.InvokeAsync<object>("open", "https://kowalskiwiktor98.github.io/boids/", "_blank");
    }

    private async Task github_digit()
    {
        //await jsRuntime.InvokeAsync<object>("open", "", "_blank");
    }

    private async Task preview_digit()
    {
        await jsRuntime.InvokeAsync<object>("open", "https://digitrecognitionpreview.azurewebsites.net", "_blank");
    }
}
